.order-call {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 64px;
    font-family: 'Play', sans-serif;
    text-align: center;
    padding-bottom: 20px;
}
.free-call {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 32px;
    font-weight: 600;
    text-align: center;
}