.contact-container {
    display: flex;
    gap: 32px;
    justify-content: center;
}
.contact-map {
    flex-shrink: 0;
}
.formats-container {
    display: flex;
    gap: 32px;
    align-items: center;
}
.format-face {
    display: flex;
    gap: 16px;
    flex-shrink: 0;
}
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 16px;
}