footer li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.2s;
}
footer li a:hover {
    color: #2B7FFF;
}
.foot-end {
    background-image: url(../images/pexels-photo-8101532-PhotoRoom\ 1.svg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    padding: 56px 0px ;
    background-color: #011C44;
    display: flex;
}
.foot-icon {
    fill: white;
    list-style-type: none;
}
.foot-container {
    display: flex;
    padding: 0;
    gap: 30px;
}
.foot-nav {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
}
.foot-adress {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
}
.foot-logo {
    flex-grow: 1;
}
.foot-menu {
    flex-grow: 1;
}
.footer-icons {
    flex-grow: 1;
}
.foot-adresss {
    flex-grow: 1;
}
.foot-boxer {
    flex-grow: 1;
}
.foot-masengers {
    display: flex;
    gap: 24px;
}