.header-link {
    margin-right: 56px;
}
.header-link:last-child {
    margin: 0;
}
.foot-link {
    font-size: 16;
    font-weight: 400;
}
.foot-link {
    text-decoration: none;
    color: #ffffff;
}
.foot-link {
    list-style: none;
}
.foot-link1 {
    color: #747272;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.foot-link {
    padding: 8px 0px;
}
.crown-link {
    fill: #2B7FFF;
    width: 48px;
    height: 55px;
}
.sciens-link {
    fill: #2B7FFF;
    width: 45px;
    height: 55px;
}
.medici-link {
    fill: #2B7FFF;
    width: 48px;
    height: 55px;
}
